# Папка віртуального середовища
venv/
.venv/

# Кеш Python та скомпільовані файли
__pycache__/
*.pyc

# Файли з секретами та змінними середовища
# НІКОЛИ не додавайте їх у Git!
.env
*.env

# Папки редакторів коду
.vscode/
.idea/

# Файли баз даних
*.sqlite3
*.db

# Файли логів та звітів
*.log
*.tmp

# Системні файли ОС
.DS_Store
Thumbs.db
